body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    /* color: aliceblue; */
}
.container {
    /* border: 2px solid; */
}
.inner-container {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
}
.top-container {
    background-color: white;
    flex-grow: 1;
}
.center-container {
    background-color: rgb(47, 68, 118);
    flex-grow: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bottom-container {
    background-color: white;
    flex-grow: 1;
}
.left-to-inner {
    flex-grow: 0.5;
}
.inner-1 {
    flex-grow: 1;
}
.inner-2 {
    flex-grow: 1;   
}
.inner-3 {
    flex-grow: 1;
}
.inner-4 {
    flex-grow: 1;
}
.right-to-inner {
    flex-grow: 0.5;
}
.top-to-card, .bottom-to-card {
    /* border: 2px solid salmon; */
    flex-grow: 0.3;
}
.card {
    flex-grow: 1;
    color: rgb(182, 186, 236);
    /* border: 2px solid; */
}
.image-container {
    display: flex;
}
.image-container img {
    align-self: center;
}
.card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(32, 45, 76, 0.59);
    color: rgb(182, 186, 236);
}
.card-1 image-container {
    background-image: url('./imgaes/Jesse_Pinkman_S5B.png');
}
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
